@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .circle-icon {
    @apply p-2 h-8 w-8 bg-gray-200 rounded-full text-gray-700 cursor-pointer hover:bg-gray-300;
  }
  .input-icon {
    @apply flex items-center space-x-1 hover:bg-gray-200 flex-grow justify-center p-2 cursor-pointer hover:text-blue-500;
  }
  .icon {
    width: 14px;
    height: 14px;
  }
  .btn-primary {
    @apply px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-600 rounded-md hover:outline-none hover:bg-blue-500 focus:bg-blue-500
  }
  .btn-black {
    @apply px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform rounded-md hover:outline-none bg-gray-700 hover:bg-gray-600 focus:bg-gray-600
  }

  /* articles card */

}
.sidebar > div {
  height: calc(100vh - 3rem);
}
.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}
.line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}